<app-quote-form>(addQuotes)="addNewQuotes($event)"</app-quote-form>
<div class="container-fluid ">

<div class="jumborton">

</div>
  <div id="home" class="rap">
    <h2> Welcome to Amazing Quotes</h2>
    <h5>If you like it Crown it </h5>

 </div>
</div>
<app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

  <div id="next">
     <div class="row">
    <div class="col4 inner-left">
      <h4 id="pad"Your Quotes of Choice></h4>
    </div>
    <div *ngFor="let quote of quotes;let i = 'index'">



      <ul id="quotes">

          <li>{{quote.publisher}} posted on {{quote.completeDate|date}}</li>
          <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
    </ul>
      </div>
      </div>
  </div>
